0

### Print Stetement

In [2]:
print()

In [5]:
age = 28
print("My age is:", age)

My age is: 28

In [7]:
print("My age is : {age}")

My age is : {age}

We can use f-string to call value of variable in string itself.

In [9]:
print(f"My age is: {age}")

My age is: 28

In [12]:
## Format()
name  = "Lucky"
age = 28
print("My name is {} and age is {}.".format(name,age))

My name is Lucky and age is 28.

In [14]:
# Placeholder
print("My name is {firstname}  and age is {firstage}.".format(firstage = age, firstname = name))

My name is Lucky  and age is 28.

In [16]:
age = 28
name = "Lucky Kapoor"
degree = "M.Tech (Civil Engineering)"
print(f"My age is {age} and I have completed: My degree in {degree} with the name of {name}.")

My age is 28 and I have completed: My degree in M.Tech (Civil Engineering) with the name of Lucky Kapoor.

## Control Flow

#### Decision Making Statement

##### 1. If

In [19]:
age = 18
if age >= 18:
    print("Eligible to Vote.")

Eligible to Vote.

In [22]:
age = 18
if age < 18:
    print("Not Eligible to Vote.")

In [24]:
name = input("Enter your name: \n")
age = int(input("Enter Your age : \n"))
print(age)
print(name)

Enter your name:
 lucky
Enter Your age :
 28

'lucky'

In [26]:
# Take age as input
age = int(input("Enter Your age : "))
if age >= 18 and age <= 45:
    print("You are a 'Young' Blood.")

Enter Your age :  28

You are a 'Young' Blood.

#### 2. If Else Statement

In [30]:
spendmoney = int(input("Enter total spend: "))
if spendmoney <= 1000:
    discount = 0.3*spendmoney
    finalamount = spendmoney - discount
    print(f"Pleas Pay {finalamount}")
elif spendmoney > 1000:
    discount = 0.2*spendmoney
    finalamount = spendmoney - discount
    print(f"Pleas Pay {finalamount}")

Enter total spend:  2000

Pleas Pay 1600.0

In [33]:
spendmoney = int(input("Enter total spend: "))
if spendmoney <= 1000:
    discount = 0.3*spendmoney
    finalamount = spendmoney - discount
    print("Please Pay {firstvariable}".format(firstvariable = finalamount))
elif spendmoney > 1000:
    discount = 0.2*spendmoney
    finalamount = spendmoney - discount
    print(f"Please Pay {finalamount}")

Enter total spend:  200

Please Pay 140.0

#### Single statement suit

In [34]:
val = int(input("Enter a number"))
if (val <= 999): print("Value is less than the minimum criteria")

Enter a number 200

Value is less than the minimum criteria

### While Statement

In [43]:
BalanceATM = 1000
while BalanceATM != 0:
    print(BalanceATM)
    BalanceATM -= 100
else:
    print("No Balance")

1000
900
800
700
600
500
400
300
200
100
No Balance

#### For Loop

In [44]:
# create a list
fruits = ["Apple", "Grapes", "Banana"]

In [45]:
for items in fruits:
    print(items)

Apple
Grapes
Banana

In [48]:
for items in fruits:
    print(items, end = " ") # To print in single line.

Apple Grapes Banana

In [49]:
fruit = "mango"
for i in fruit:
    print(i)

m
a
n
g
o

string is also a list with 0 to n as index number.

#### Nested Loops

In [51]:

for i in fruits:
    if i == "Grapes":
        print("I like it") 
    print(i)

Apple
I like it
Grapes
Banana

In [52]:

for i in fruits:
    if i == "Grapes":
        print("I like it") 
        break
    print(i)

Apple
I like it

In [53]:

for i in fruits:
    if i == "Grapes":
        print("I like it") 
        pass
    print(i)

Apple
I like it
Grapes
Banana

In [55]:
for i in fruits:
    if i == "Grapes":
        print("I like it") 
        continue
    print(i)

Apple
I like it
Banana

#### Nested Loop

In [5]:
n = 7
for i in range(0,n):
    for j in range(i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

In [27]:
# Assignment to print equilateral triangle

n = 7
for i in range(0,(n//2)+1):
    for j in range((n//2)-i):
        print(" ",end ="")
    for k in range(i+1+i):
        print("*", end = "")
    print("\r")

   *
  ***
 *****
*******

#### Loop Control : Break, Pass and Continue

In [29]:
fruits = ["Apple", "Grapes", "Banana"]
for items in fruits:
    if items == "Grapes":
        print ("My Fav fruit.")
    print(items)

Apple
My Fav fruit.
Grapes
Banana

* Break : Break the loop or skip all loop iteration

In [30]:
fruits = ["Apple", "Grapes", "Banana"]
for items in fruits:
    if items == "Grapes":
        print ("My Fav fruit.")
        break
    print(items)

Apple
My Fav fruit.

* Pass

In [32]:
fruits = ["Apple", "Grapes", "Banana"]
for items in fruits:
    if items == "Grapes":
        print ("My Fav fruit.")
        pass
    print(items)

Apple
My Fav fruit.
Grapes
Banana

* Continue : Bypass the loop for next iteration or skip respective iteration only

In [33]:
fruits = ["Apple", "Grapes", "Banana"]
for items in fruits:
    if items == "Grapes":
        print ("My Fav fruit.")
        continue
    print(items)

Apple
My Fav fruit.
Banana