## DS Masters : Assignment 15 (16th Feb 2023)

#### Name : Lucky Kumar
#### Email : erluckykapoor@gmail.com
.
.

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans: A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

* SQL Database: SQL database or relational database is a collection of highly structured tables, wherein each row reflects a data entity, and every column defines a specific information field. Relational databases are built using the structured query language (SQL) to create, store, update, and retrieve data.

* NoSQL Database: NoSQL databases store data in documents rather than relational tables. Accordingly, we classify them as "not only SQL" and subdivide them by a variety of flexible data models. Types of NoSQL databases include pure document databases, key-value stores, wide-column databases, and graph databases.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL stands for Data Definition Language, it helps to define the database structure or schema.

* CREATE: CREATE statements is used to define the database structure schema:

    For example:
``` sql 
    Create database university;
    Create table students; 
```

* DROP: Drops commands remove tables and databases from RDBMS.

    For example:
``` sql
    Drop database university;
    Drop table student;
```
* ALTER : Alter command allows you to alter the structure of the database.

    For example:
    To add a new column in the table
``` sql 
    ALTER TABLE table_name ADD column_name COLUMN-definition; 
```

    To modify an existing column in the table:
``` sql 
    ALTER TABLE MODIFY(COLUMN DEFINITION....);  
```

* TRUNCATE:This command used to delete all the rows from the table and free the space containing the table.
    For examples:
``` sql
    TRUNCATE table students;
```

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans: Data Manipulation Language (DML) allows to modify the database instance by inserting, modifying, and deleting its data. It is responsible for performing all types of data modification in a database.

There are three basic DML commands in SQL:

1. INSERT
2. UPDATE
3. DELETE
Let us study one by one.

1. INSERT: This is a statement is a SQL query. This command is used to insert data into the row of a table.
 
    For example:
```sql
    INSERT INTO students (RollNo, FIrstName, LastName) VALUES ('60', 'Tom', Erichsen');
```
2. UPDATE: This command is used to update or modify the value of a column in the table.

    For example:
```sql
    UPDATE students    
    SET FirstName = 'Jhon', LastName= 'Wick' 
    WHERE StudID = 3;
```
3. DELETE: This command is used to remove one or more rows from a table.

    For example:
```sql
    DELETE FROM students 
    WHERE FirstName = 'Jhon';
```

### Q4. What is DQL? Explain SELECT with an example.

Ans: Data Query Language (DQL) is used to fetch the data from the database. It uses only one command:

* SELECT: 
    This command helps you to select the attribute based on the condition described by the WHERE clause.

    Syntax:
```sql 
    SELECT columns     
    FROM TABLES    
    WHERE conditions;  
```
    For example:
```sql
    SELECT FirstName  
    FROM Student  
    WHERE RollNo > 15; 
```

### Q5. Explain Primary Key and Foreign Key.

Ans: 
* Primary Key: 
    A primary key is a unique identifier used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 


* Foreign Key: 
    A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# We need to first import the MySQL Connector to establish the connection
import mysql.connector
# provide the credential to establish the connection
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)

# We need to define a cursor to perform various operation with database
mycursor = mydb.cursor()
# Now we can perform the various sql statement using execute function
mycursor.execute("CREATE DATABASE database_name;")


Method cursor.execute (): The execute () method helps us to execute the query and return records according to the query.

### Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: Order of Execution
    SQL queries adhere to a specific order when evaluating clauses, similar to how mathematical operations adhere to PEMDAS or BIDMAS.

    From the eyes of the user, queries begin from the first clause and end at the last clause. However, queries aren’t actually read from top to bottom when carried out.

    The order in which the clauses in queries are executed is as follows:

    1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

    2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

    3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

    4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

    5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

    6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

    7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.